@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); /*импортировали шрифт*/

@viewport { width: 768px; }.

body { 
    background-color: #f1f1f1;           /*цвет заднего плана*/
    color: #0f141e;                      /*цвет шрифта*/
    font-size: 16px;                       /*размер шрифта*/
    font-weight: normal;                    /*жирность шрифта*/
    font-family: 'Roboto', sans-serif;      /*Другой шрифт - альтернативный - семейство*/

}

.container {

    padding-top: 30px;                               /*отступ от потолка страницы*/
    max-width: 1000px;
    margin: auto;
}
.container img  {
    border: 2px solid #55c5e9; /* Рамка вокруг фотографии */
    padding: 15px; /* Расстояние от картинки до рамки */
    background: #666; /* Цвет фона */

}

.container h1 {
    text-align: center;
}
.NMAU h2 {
    text-align: center;

}



.dip_avers {
    margin: 20px;
}
.dip_revers {
    margin: 20px;
}

.StarLife h2 {
    text-align: center;
}


.ls_1 {
    margin: 20px;
}
.ls_2 {
    margin: 20px;
}
.rs_1 {
    margin: 20px;
}
.rs_2_2 {
    margin: 20px;
}
.pol_st {
    margin-left: 20%;
}

.pol_st h2 {
    text-align: center;
}

.step_senter {
    margin-left: 27%;
}


.dip_avers:hover{
    transform: scale(1.5); /* Увеличиваем масштаб */
    transition: 1s; /* Время эффекта */
}
.dip_revers:hover{
    transform: scale(1.5); /* Увеличиваем масштаб */
    transition: 1s; /* Время эффекта */
}
.ls_1:hover{
    transform: scale(1.5); /* Увеличиваем масштаб */
    transition: 1s; /* Время эффекта */
}
.ls_2:hover{
    transform: scale(1.5); /* Увеличиваем масштаб */
    transition: 1s; /* Время эффекта */
}
.rs_1:hover{
    transform: scale(1.5); /* Увеличиваем масштаб */
    transition: 1s; /* Время эффекта */
}
.rs_2_2:hover{
    transform: scale(1.5); /* Увеличиваем масштаб */
    transition: 1s; /* Время эффекта */
}
.pol_st:hover{
    transform: scale(1.5); /* Увеличиваем масштаб */
    transition: 1s; /* Время эффекта */
}

.step_senter:hover{
    transform: scale(1.5); /* Увеличиваем масштаб */
    transition: 1s; /* Время эффекта */
}